body {
  // font-family: 'M PLUS 1p', sans-serif;  
  h2 {
    font-size: 3em;
  }
}

.wrapper {
  background: #637373;
}

.top-image-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  object-fit: cover;  
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.6));
}

.profile-image {
  height: 100vh;  
  position: absolute;
  z-index: -1;
}

.favicon {
  width: 25vw;
  height: 25vw;
  margin-top: 20vh;
  margin-bottom: 1vh;
  
}

.title {
  width: 25vw;
  font-size: 3em;
  color: #383838;
  display: flex;
  justify-content: space-between;
}

.window-container {
  width: 100vw;
  // height: 50vh;
}

.back-image {
  // position: fixed;
  width: 100vw;
  // height: 100vh;
  overflow: hidden;
  object-fit: cover;
  // z-index: -2;  
}

.services-container {
  width: 100vw;
  height: 5600px;
  background: linear-gradient(90deg, #FFFFFF 0%, #EFEFEF 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.6));

  h2 {
    margin-top: 100px;
    // font-size: 3em;
  }
  
  h3 {
    font-size: 2em;
  }
  
  p {
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
  }
}

.brown-stripe {
  margin-top: 5vh;
  width: 100%;
  position: absolute;
  z-index: 1;  
}

.circle {
  margin-top: 300px;
  width: 85vw;
  height: 85vw;
  background: #484848;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;  
  
  h2 {
    margin-top: 100px;
    font-size: 4em;
  }
  
  p {
    font-size: 1.8em;
    line-height: 2em;
    text-align: center;
  }  
}

.service-1 {
  position: absolute;
  z-index: 2; 
  margin-top: 1400px;  
}

.service-2 {
  position: absolute;
  z-index: 2; 
  margin-top: 2800px;  
}

.service-3 {
  position: absolute;
  z-index: 2; 
  margin-top: 4200px;  
}

.icons-service {
  width: 60vw;
  height: 60vw;
}

.works-header {
  height: 200px;
  // width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2 {
    color: #efefef;
    font-size: 4em;
    margin-top: 100px;
    margin-bottom: 100px;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  }
}

.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-left: 8vw;
  padding-right: 7vw;
}

.work-container {
  display: inline-block;
  text-align: center;
  width: 80vw;
  height: 1350px;
  background: linear-gradient(90deg, #FFFFFF 0%, #EFEFEF 100%); 
  border-radius: 10px;
  color: #383838;
  margin-left: 1vw;
  margin-right: 2vw;
  margin-bottom: 100px;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  
  h2 {
    color: #383838;
    // font-size: 3em;
    margin-top: 100px;
    margin-bottom: 80px;
  }  
  p {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 50px;
  }  
}

.work-eye-catch {
  width: 100%;
}

.work-link-button {
  width: 80%;
  background: #383838;
  color: #efefef;
  font-size: 1.5em;
  line-height: 3em;
  border-radius: 1.5em;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.skill-icon-container {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;  
}

.skill-icon-container-2 {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.skill-icon {
  width: 25vw;
  height: 25vw;
}

.skill-1 {
  position: absolute;
  z-index: 2; 
  margin-top: 1400px;  
}

.skill-2 {
  position: absolute;
  z-index: 2; 
  margin-top: 2300px;  
}

.skill-3 {
  position: absolute;
  z-index: 2; 
  margin-top: 3300px;  
}

.skill-4 {
  position: absolute;
  z-index: 2; 
  margin-top: 4300px;
}

.contact-container {
  height: 2600px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2 {
    color: #efefef;
    font-size: 4em;
    margin-top: 100px;
    margin-bottom: 80px;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  }
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 2100px;
  background: linear-gradient(90deg, #FFFFFF 0%, #EFEFEF 100%); 
  border-radius: 10px;
  color: #383838;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));

  .mail-icon {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 20vw;
    height: 20vw;
  }  
  
  h3 {
    font-size: 2em;
    text-align: center;
  }
}

.text-area-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: auto;
  margin-right: auto;
  
  p {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 50px;
  }
  
  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #383838;
    background: none;
    padding: 0vw 2vw;
  }
}

.one-line-textarea {
  height: 3em;
  line-height: 3em;
  font-size: 2em;
}

.string-textarea {
  height: 9em;
  line-height: 3em;
  font-size: 2em;
}

.contact-form-button {
  width: 80%;
  background: #383838;
  color: #efefef;
  font-size: 2em;
  line-height: 3em;
  border-radius: 1.5em;
  text-align: center;
  margin-top: 100px;
}

.sns-container {
  width: 100vw;
  height: 800px;
  background: linear-gradient(90deg, #FFFFFF 0%, #EFEFEF 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: #383838;

  h2 {
    margin-top: 100px;
    font-size: 4em;
  }
  
  h3 {
    font-size: 2em;
  }
  
  p {
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
  }
}

.sns-icon-container {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.sns-icon {
  width: 20vw;
  height: 20vw;
}

// =====================================
// footer
// =====================================  
footer {
  padding-top: 100px;
  // padding-bottom: 80px;
  background-color: #383838;
  width: 100vw;
  height: 800px;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  a {
    color: white;
  } 
  
  p {
    font-size: 1.5em;
    line-height: 3em;
  }
}

.footer-icon {
  width: 15vw;
  height: 15vw;
}